# Evita di includere l'ambiente virtuale
venv/
env/

# File di configurazione sensibili
.env

# File di cache e compilati
__pycache__/
*.py[cod]
*.pyo

# File temporanei
*.log
*.tmp
.DS_Store
Thumbs.db

# File di sistema
.idea/
.vscode/
